body{
    margin: 0;
    font-family: Poppins;
}
.container{
    width: 900px;
    margin: auto;
    padding-bottom: 2rem;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid black;
}
.carrito-icono{
    position: relative;
    cursor: pointer;
}
.carrito-icono span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.titulo{
    font-size: 3rem;
}

.categoria{
    padding: 20px;
    font-size: 2.5rem;
}

.listaProductos .item img{
    width: 90%;
}
.listaProductos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listaProductos .item{
    background-color: #0b7018;
    padding: 20px;
    border-radius: 20px;
}
.listaProductos .item h2{
    font-weight: 500;
    font-size: large;
    color: #eee;
}
.listaProductos .item .precio{
    letter-spacing: 7px;
    font-size: medium;
    color: #eee;
}
.listaProductos .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.tarjetaCarrito{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.mostrarCarrito .tarjetaCarrito{
    right: 0;
}
body.mostrarCarrito .container{
    transform: translateX(-250px);
}
.tarjetaCarrito h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.carritoTotal{
    margin: auto;
}
.tarjetaCarrito .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.tarjetaCarrito button{
    background-color: #0b7018;
    padding: 1rem;
    border: none;
    color:#eee;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.tarjetaCarrito .cerrar-carrito{
    background-color: rgba(192, 9, 9, 0.6);
}
.listaCarrito .item img{
    width: 100%;
}
.listaCarrito .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listaCarrito .cantidad span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listaCarrito .cantidad span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listaCarrito .item:nth-child(even){
    background-color: #eee1;
}
.listaCarrito{
    overflow: auto;
}
.listaCarrito::-webkit-scrollbar{
    width: 0;
}

@media only screen and (max-width: 992px) {
    .listaProductos{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .listaProductos{
        grid-template-columns: repeat(2, 1fr);
    }
}